.community-page,
.community-page * {
  box-sizing: border-box;
}
.community-page {
  background: #ffffff;
  height: 960px;
  position: relative;
}
.header {
  background: linear-gradient(
    90deg,
    rgba(188, 200, 254, 1) 0%,
    rgba(216, 223, 255, 1) 100%
  );
  width: 1440px;
  height: 184px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div {
  position: absolute;
  inset: 0;
}
.bottom-app-bar {
  background: var(--schemes-surface-container, #f3edf7);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
  padding: 0px 16px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 276px;
  align-items: center;
  justify-content: flex-start;
  width: 655px;
  height: 55.3px;
  position: absolute;
  left: 392px;
  top: 61px;
}
.snackbar {
  background: var(--schemes-inverse-primary, #d0bcff);
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
  border-width: 1px;
  padding: 14px 16px 14px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 88.27px;
  height: 36.26px;
  position: absolute;
  left: 947.25px;
  top: 70.97px;
  box-shadow: var(
    --m3-elevation-light-3-box-shadow,
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15)
  );
}
.supporting-text {
  color: var(--schemes-inverse-on-surface, #f5eff7);
  text-align: left;
  font-family: var(--m3-body-medium-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-medium-font-size, 14px);
  line-height: var(--m3-body-medium-line-height, 20px);
  letter-spacing: var(--m3-body-medium-letter-spacing, 0.25px);
  font-weight: var(--m3-body-medium-font-weight, 400);
  position: relative;
  flex: 1;
  height: 20px;
}
.div2 {
  color: #000000;
  text-align: center;
  font-family: var(--m3-title-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-title-large-font-size, 22px);
  line-height: var(--m3-title-large-line-height, 28px);
  font-weight: var(--m3-title-large-font-weight, 400);
  position: absolute;
  left: 947.25px;
  top: 80.04px;
  width: 88.27px;
  height: 18.13px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
}
.search {
  width: 44.14px;
  height: 45.33px;
  position: absolute;
  left: 401.71px;
  top: 66.44px;
  overflow: visible;
}
.div3 {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1120px;
  top: 73px;
}
.tag-toggle {
  background: var(--var-sds-color-background-brand-tertiary, #f5f5f5);
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-200, 8px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--var-sds-color-text-brand-tertiary, #757575);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aside {
  background: #d8dfff;
  width: 250px;
  height: 776px;
  position: absolute;
  left: 0px;
  top: 184px;
}
.div4 {
  background: #bcc8fe;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 232px;
  height: 87px;
  position: absolute;
  left: 30px;
  top: 43px;
}
.div5 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 36px;
  line-height: 150%;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 690px);
  top: 64px;
  width: 232px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  background: #f1f1ff;
  width: 197px;
  height: 333px;
  position: absolute;
  left: 27px;
  top: 217px;
}
.div7 {
  width: 159px;
  height: 111px;
  position: static;
}
.div8 {
  width: 111px;
  height: 40px;
  position: static;
}
.generic-avatar {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 46px;
  top: 420px;
  overflow: visible;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 14px;
  line-height: 30px;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 45px;
  top: 472px;
  width: 159px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image {
  background: var(
    --image-placeholder,
    linear-gradient(to left, #e3e3e3, #e3e3e3)
  );
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  min-width: 160px;
  position: absolute;
  left: 46px;
  top: 237px;
  overflow: hidden;
  object-fit: cover;
}
.aside2 {
  background: #d8dfff;
  width: 250px;
  height: 776px;
  position: absolute;
  left: 1190px;
  top: 184px;
}
.rectangle-7 {
  background: #f1f1ff;
  width: 201px;
  height: 667px;
  position: absolute;
  left: 1216px;
  top: 184px;
}
.div10 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 176.74px;
  height: 43.59px;
  position: absolute;
  left: 1226.1px;
  top: 211.25px;
}
.tag-toggle2 {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.check {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.title2 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-small-strong-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--single-line-body-small-strong-font-size, 14px);
  line-height: var(--single-line-body-small-strong-line-height, 100%);
  font-weight: var(--single-line-body-small-strong-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tag-toggle3 {
  background: var(--var-sds-color-background-brand-tertiary, #f5f5f5);
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: 5px 6px 5px 6px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.title3 {
  color: var(--var-sds-color-text-brand-tertiary, #757575);
  text-align: left;
  font-family: var(
    --single-line-body-small-strong-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--single-line-body-small-strong-font-size, 14px);
  line-height: var(--single-line-body-small-strong-line-height, 100%);
  font-weight: var(--single-line-body-small-strong-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div11 {
  background: #f1f1ff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 172.7px;
  height: 517.67px;
  position: absolute;
  left: 1228.12px;
  top: 262.1px;
}
.list-item-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.state-layer-overlay {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.state-layer {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.leading-element {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 40px;
  position: relative;
  overflow: hidden;
}
.building-blocks-monogram {
  background: var(--schemes-primary-container, #eaddff);
  border-radius: 100px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.initial {
  color: var(--schemes-on-primary-container, #4f378a);
  text-align: center;
  font-family: var(--m3-title-medium-font-family, "Roboto-Medium", sans-serif);
  font-size: var(--m3-title-medium-font-size, 16px);
  line-height: var(--m3-title-medium-line-height, 24px);
  letter-spacing: var(--m3-title-medium-letter-spacing, 0.15px);
  font-weight: var(--m3-title-medium-font-weight, 500);
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 132px;
  height: 56px;
  position: relative;
  overflow: hidden;
}
.headline {
  color: var(--schemes-on-surface, #1d1b20);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rating {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-100, 4px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 138px;
  height: 13px;
  position: relative;
}
.star {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star2 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star3 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star4 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star5 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
._5-0 {
  color: #000000;
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 52px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-full-width {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star6 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star7 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star8 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star9 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star10 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-9 {
  color: #000000;
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 52px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-full-width2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star11 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star12 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star13 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star14 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star15 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.horizontal-full-width3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star16 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star17 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star18 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star19 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star20 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-8 {
  color: #000000;
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 52px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-full-width4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star21 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star22 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star23 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star24 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star25 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.horizontal-full-width5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star26 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star27 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star28 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star29 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star30 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.horizontal-full-width6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star31 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star32 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star33 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star34 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star35 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-7 {
  color: #000000;
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 52px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-full-width7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star36 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star37 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star38 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star39 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star40 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.horizontal-full-width8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star41 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star42 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star43 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star44 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star45 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.horizontal-full-width9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.list-item-10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 56px;
  position: relative;
}
.star46 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star47 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star48 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star49 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.star50 {
  align-self: stretch;
  flex: 1;
  height: auto;
  position: relative;
  overflow: visible;
}
.div12 {
  background: #f1f1ff;
  width: 197px;
  height: 43px;
  position: absolute;
  left: 27px;
  top: 560px;
}
.div13 {
  width: 101.7px;
  height: 22px;
  position: static;
}
.div14 {
  color: #000000;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--var-sds-typography-body-size-medium, 16px);
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-strong, 600);
  position: absolute;
  left: 94px;
  top: 573px;
  width: 77.7px;
  height: 18.86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  width: 22.3px;
  height: 22px;
  position: absolute;
  left: 70px;
  top: 571px;
  overflow: visible;
}
.div15 {
  width: 770px;
  height: 54.7px;
  position: static;
}
.menu-separator {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 533.7px;
}
.rule {
  background: rgba(217, 217, 217, 0.4);
  align-self: stretch;
  flex-shrink: 0;
  height: 1px;
  position: relative;
}
.div16 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 496px;
}
.description {
  color: #1100a9;
  text-align: center;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 150px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  width: 455.2px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-separator2 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 486.7px;
}
.div17 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 449px;
}
.description2 {
  color: #00960c;
  text-align: center;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 150px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-separator3 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 440.7px;
}
.div18 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 403px;
}
.description3 {
  color: #ce0505;
  text-align: center;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 16px);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  width: 150px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-separator4 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 579.7px;
}
.div19 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 542px;
}
.menu-separator5 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 626.7px;
}
.div20 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 589px;
}
.menu-separator6 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 674.7px;
}
.div21 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 637px;
}
.menu-separator7 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 721.7px;
}
.div22 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 684px;
}
.menu-separator8 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 768.7px;
}
.div23 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 731px;
}
.menu-separator9 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 815.7px;
}
.div24 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 778px;
}
.menu-separator10 {
  border-radius: 8px;
  padding: var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px) var(--var-sds-size-padding-sm, 8px)
    var(--var-sds-size-padding-lg, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 770px;
  position: absolute;
  left: 335px;
  top: 861.7px;
}
.div25 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 369.88px;
  top: 824px;
}
.rectangle-12 {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.14);
  border-width: 1px;
  width: 738px;
  height: 468px;
  position: absolute;
  left: 351px;
  top: 403px;
}
.div26 {
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.35);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 331px;
  top: 325px;
  overflow: hidden;
}
.edit {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.div27 {
  color: #0c0c0c;
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 493px;
  top: 902px;
}
.pagination-previous {
  border-radius: var(--var-sds-size-radius-200, 8px);
  opacity: 0.5;
  padding: var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.arrow-left {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.previous {
  color: var(--var-sds-color-text-default-secondary, #757575);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.pagination-list {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.pagination-page {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._1 {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.pagination-page2 {
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._12 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.pagination-gap {
  border-radius: 8px;
  padding: var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-400, 16px) var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div28 {
  color: var(--black-100, #000000);
  text-align: left;
  font-family: var(--body-base-bold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body-base-bold-font-size, 16px);
  line-height: var(--body-base-bold-line-height, 140%);
  font-weight: var(--body-base-bold-font-weight, 700);
  position: relative;
}
.pagination-next {
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-200, 8px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.next {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}
.arrow-right {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.vertical-full-width {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 130px;
  height: 462px;
  position: absolute;
  left: 464px;
  top: 406px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.div29 {
  background: rgba(210, 213, 255, 0.66);
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 56px;
  min-width: 360px;
  max-width: 720px;
  position: absolute;
  left: 786px;
  top: 319px;
  overflow: hidden;
}
.state-layer2 {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.content2 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 300px;
  position: relative;
}
.supporting-text2 {
  color: #7e7e7e;
  text-align: center;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trailing-elements {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
._1st-trailing-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer3 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.div30 {
  background: #a9b5ef;
  border-radius: 4px;
  padding: 14px 16px 14px 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 852px;
  height: 66px;
  position: absolute;
  left: 294px;
  top: 219px;
  box-shadow: var(
    --m3-elevation-light-3-box-shadow,
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15)
  );
}
.volume-2 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.supporting-text3 {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  flex: 1;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
